body {
    background-color: #d5d8efae;
    color: #272829;
    font-family: "Quicksand", serif;
    margin: 0;
    padding-top: 50px;
}

main {
    text-align: center;
}

.wrapper {
    height: 745px;
    width: 550px;
    background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
    border-radius: 10px;
    margin: 0 auto;
}

form {
    margin-left: 30px;
}

/* city city & search input goes below */
.search-city {
    background-color: #d5d8efae;
    border: 1px solid #d5d8efae;
    border-radius: 5px;
    font-size: 16px;
    padding: 15px 0px;
    padding-left: 10px;
    margin: 35px 10px;
    margin-bottom: 10px;
    width: 71%;
}

.search-input {
    background-color: #5753C9;
    border: 1px solid #d5d8efae;
    border-radius: 5px;
    color: #E5D9F2;
    font-size: 16px;
    font-weight: 600;
    padding: 15px 12px;
}

.search-input:hover {
    background-color: #d5d8efae;
    cursor: pointer;
    color: #272829;
    transition: all 150ms ease-in-out;
}

/* current city style */
h1 {
    margin: 0px;
    color: #d5d8efae;
    font-size: 42px;
    font-weight: 800;
}

#time {
    line-height: 1.8;
}

/* Forecast style goes below */
.forecast {
    text-align: center;
    margin: 0 auto;
}

.forecast ul li {
    list-style-type: none;
    line-height: 2;
}

.forecast {
    background-color: #d5d8efae;
    border-radius: 10px;
    box-shadow: 2px 2px 6px 1px rgba(154, 154, 159, 0.577);

    color: #5753C9;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    width: 280px;
}

.forecast-item.container {
    display: flex;
    justify-content: space-between;
}

.day {
    color: #5753C9;
    flex: 1;
    /* Make the day span take up equal space */
    font-weight: bold;
    font-size: 14px;
    padding-left: 18px;
    text-align: left;
}

.temperature {
    color: #5753C9;
    /* Make temperature span take up equal space */
    flex: 1;
    text-align: right;
    padding-right: 18px;
}

.weather-icon {
    font-size: 16px;
    text-align: center;
}

.temp-value {
    font-weight: bold;
    font-size: 14px;
}

.temp-unit {
    font-size: 14px;
}

ul {
    padding-left: 0px;
}

p span {
    color: #e8e9f3ae;
}

#current-temperature-icon {
    bottom: -9px;
    font-size: 28px;
    position: relative;
    width: 58px;
}

#current-temperature-value {
    color: #d5d8efae;
    font-size: 58px;
}

#current-temperature-unit {
    bottom: 17px;
    color: #d5d8efae;
    font-size: 32px;
    position: relative;
}

footer {
    color: #d5d8efae;
    font-size: 14px;
    text-align: center;
}

a {
    color: #272829;
    font-weight: 500;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    color: #d5d8efae;
    text-decoration: underline;
    transition: all 150ms ease-in-out;
}