/*
color theme
    background-color: #F5EFFF;
    button-color : #A294F9;
    section-color : #E5D9F2;
*/
body {
    background-color: #d5d8efae;
    font-family: "Quicksand", serif;
    margin: 0;
    padding-top: 50px;
    color: #272829
}

main {
    text-align: center;
}

.wrapper {
    height: 725px;
    width: 550px;
    background: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
    border-radius: 5px;
    margin: 0 auto;
}

form {
    margin-left: 30px;
}

/* city city & search input goes below */
.search-city {
    background-color: #d5d8efae;
    border: 1px solid #d5d8efae;
    border-radius: 5px;
    padding: 15px 0px;
    padding-left: 10px;
    width: 71%;
    margin: 35px 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

.search-input {
    background-color: #5753C9;
    border: 1px solid #d5d8efae;
    border-radius: 5px;
    padding: 15px 12px;
    font-size: 16px;
    font-weight: 600;
    color: #E5D9F2;
}

.search-input:hover {
    cursor: pointer;
    background-color: #d5d8efae;
    color: #272829;
    transition: all 150ms ease-in-out;
}

/* current city style */
h1 {
    margin: 0px;
    color: #d5d8efae;
    font-size: 42px;
    font-weight: 800;
}

/* Forecast style goes below */
.forecast {
    text-align: center;
    margin: 0 auto;
}

.forecast ul li {
    list-style-type: none;
    line-height: 2;
}

.forecast {
    background-color: #d5d8efae;
    border-radius: 10px;
    color: #272829;
    width: 280px;
    padding-top: 2px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.forecast-item.container {
    display: flex;
    justify-content: space-between;
}

.day {
    flex: 1;
    /* Make the day span take up equal space */
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    padding-left: 18px;
}

.temperature {
    /* Make temperature span take up equal space */
    flex: 1;
    text-align: right;
    padding-right: 18px;
}

.weather-icon {
    font-size: 16px;
    text-align: center;
}

.temp-value {
    font-weight: bold;
    font-size: 14px;
}

.temp-unit {
    font-size: 14px;
}

ul {
    padding-left: 0px;
}

p span {
    color: #e8e9f3ae;
}

#current-temperature-icon {
    font-size: 28px;
    position: relative;
    bottom: 5px;
}

#current-temperature-value {
    font-size: 46px;
    color: #d5d8efae;
}

#current-temperature-unit {
    color: #d5d8efae;
    font-size: 32px;
    position: relative;
    bottom: 10px;
}

footer {
    text-align: center;
    color: #d5d8efae;
}

a {
    color: #272829;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    transition: all 150ms ease-in-out;
}